/* Global */
html {
    font-size: 18px;
}

body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}